*{
    box-sizing: border-box;
}
body {
    font-family: 'Lato', arial, sans-serif;
    color: #636363;
    background: #e1e3e4;
    font-size: 16px;
}
body,h1,h2,h3,h4,h5,h6,p,ol,ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.perfil{
    margin-right: 30px;
    width: 120px;
    height: 120px;
    text-align: justify;
    border-radius: 50%;
}
.header {
    padding: 20px 0;
    background: #ffffff;
    border-top: 10px solid rgb(2, 60, 64);
}
.name{
    color: #49515a;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
}
.ocu{
    color: #778492;
    font-family: "Lato", arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}
.social-media {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 16px auto 0;
    /*width: 20%;*/
}
.social-media li a{
    align-items: center;
    display:flex;
    color:var(--blanco);
    font-family: var(--secondary-font);
    text-decoration: none;
}
.social-link-text{
    padding-right: 8px;
    padding-left: 8px
}
.nav-item {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-family: var(--secondary-font);
    height: 30px;
    justify-content: center;
    width: 33%;
    color:aliceblue;
    font-size: 20px;
    text-decoration: none;
}
.grid-container {
  
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding: 1rem;
    grid-auto-flow: dense;
  
}
.grid-item1 {
    width:45vw;
    margin-left: 110px;
    background: rgb(255, 255, 255);
    border: white 3px solid;
    grid-column: 1 / span 4;
    grid-row: 1 / Line2; 
    padding-left: 2px;
    text-align:justify;
}
.grid-item2 {
    width:35vw;
    background: rgb(255, 255, 255);
    border: white 3px solid;
    grid-column: 9 / span 4;
    margin-right: 200px;
    padding-left: 2px;
    text-align:justify;
}
.grid-item3 {
    width:35vw;
    background: rgb(255, 255, 255);
    border: white 3px solid;
    grid-column: 9 / span 4;
    grid-row: 2 / span 2;
    margin-right: 200px;
    padding-left: 2px;
    text-align:justify;
}
.grid-item4 {
    width:45vw;
    background: rgb(255, 255, 255);
    border: white 3px solid;
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    padding-left: 2px;
    text-align:justify;
    margin-left: 110px;
}
.grid-item5 {
    width:35vw;
    background: rgb(255, 255, 255);
    border: white 3px solid;
    grid-column: 9 / span 4;
    grid-row: 4 / span 2;
    margin-right: 200px;
    padding-left: 2px;
    text-align:justify;
}
.grid-item6 {
    width:45vw;
    background: rgb(255, 255, 255);
    border: white 3px solid;
    grid-column: 1 / span 4;
    grid-row: 5 / span 7;
    padding-left: 2px;
    text-align:justify;
    margin-left: 110px;
}
.grid-item7 {
    width:35vw;
    background: rgb(255, 255, 255);
    border: white 3px solid;
    grid-column: 9 / span 4;
    grid-row: 6 / span 2;
    margin-right: 200px;
    padding-left: 2px;
    text-align:justify;
}
